# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

images/I_nginx_ing.png
../images/fw_rules.png
../images/i_2nodes.png
../images/i_chartmuseum.png
../images/i_chartmuseum_1.png
../images/i_doku_demo.png
../images/i_dokuwiki.png
../images/i_front_scale_1.png
../images/i_front_scale_2.png.png
../images/i_hc_github.png
../images/i_helm.png
../images/i_helm_repo_list.png
../images/i_nginx_hc.png
../images/i_postgresql.png
../images/i_pyth_docerfile.png
../images/i_python_app.png
../images/i_react_app.png
../images/i_react_dockerfile.png
../images/i_react_hc.png
../images/i_scale_backend.png
../images/i_scale_backend_!.png
../images/i_service_python.png
../images/i_ssl_helm_tiller.png
../images/i_weave.png
../images/infra-medium.png
../images/join_token_notes.png
