alembic==1.0.7
aniso8601==4.1.0
backcall==0.1.0
Click==7.0
decorator==4.3.2
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsonify==0.5
Mako==1.0.7
MarkupSafe==1.1.0
parso==0.3.3
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
psycopg2==2.7.7
ptyprocess==0.6.0
Pygments==2.3.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2018.9
six==1.12.0
SQLAlchemy==1.2.17
SQLAlchemy-Utils==0.33.11
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
